# **Programación con Python**

**Bienvenido**, este cuaderno de notas contiene los conceptos esenciales del lenguaje de programación Python. Aunque la información presentada pueda parecer básica, esta es fundamental para poder leer y escribir código en Python.

## Tabla de Contenidos

1.  [Primeros Pasos](#0)
2.  [Tipos de Datos (Objetos)](#2)
3.  [Expresiones y Variables](#4)
4.  [Cadena de Caracteres (Strings)](#6)
5.  [Indexación](#8)
6.  [Secuencias de Escape](#10)
7.  [Operaciones Sobre Cadena de Caracteres](#12)

# 1. Primeros Pasos <a id="0"></a>

Cuando se aprende un nuevo lenguaje de programación, generalmente se comienza con un ejemplo de desplegar un mensaje de `Hola Mundo`. Realizar esto en Python es tan simple que sólo requiere una línea de código. Este primer paso permite conocer como imprimir una cadena de caracteres en la salida estándar y cómo ejecutar el código de una una celda de Python en Jupiter Notebook.

>---
>**Consejo**: Para ejecutar código de Python code en una celda hay que seleccionar la celda y presionar <kbd>Shift</kbd> + <kbd>Enter</kbd>.
>
>---

Lo primero que se va a realizar es utilizar la función `print()` a la que se le va a dar como argumento de entrada la cadena de caracteres `Hola Mundo con Python!`.

In [ ]:
# Salida en Python

print('Hola Mundo con Python!')

## ¿Cómo saber que versión de Python se está utilizando?

Actualmente sólo se esta trabajando con la versión de Python 3. A partir del año 2022 la versión de Python 2 ya no se le va a dar más soporte ni continuidad,  por lo que se recomiendo no utilizarla.

En un cuaderno de notas de Jupiter se puede observar la versión de Python en la esquina superior derecha.

También se puede preguntar directamente a Python a través del atributo `.version` que se encuentra disponible en la biblioteca `sys`, la cual contiene varios atributos y métodos asociados al sistema operativo o plataforma de desarrollo. Para tener acceso a una biblioteca en Python se debe cargar utilizando em comando `import`.

In [ ]:
# Verificar la version de Python

import sys
print(sys.version)

## Escribir comentarios en Python

Además de escribir el código de la aplicación, siempre es una buena idea agregar comentarios al código. Esto ayuda a otros y a uno mismo a comprender la razón por la que escribió un fragmento de código determinado.

Para escribir comentarios en Python, se utiliza el símbolo de número `#` antes de escribir el comentario. Cuando se ejecuta el código, Python ignorará todo lo que esté más allá del  `#` en una línea determinada.

In [ ]:
# Escribir un comentario

print('Hola, Python!') # Esta línea imprime una cadena de caracteres
# print('Hola')

## Errores en Python

En el proceso de codificación siempre se puede cometer errores. Para muchos tipos de errores, Python dirá que ha cometido un error al desplegar un mensaje de error. Es importante leer los mensajes de error detenidamente para comprender realmente dónde se cometió un error y cómo se puede corregir.

Por ejemplo, si se escribe el comando `print` como `frint`, Python mostrará un mensaje de error: `name 'frint' is not defined`.

In [ ]:
# Se imprime un mensaje de error

frint("Hola, Python!")

El mensaje de error indica:
- dónde ocurrió el error (esto es útil en códigos que son extensos), y
- qué tipo de error fue (NameError)

Aquí, Python intentó ejecutar la función `frint`, pero no pudo determinar qué es `frint` ya que no es una función integrada y tampoco ha sido definida previamente en el código.

Si se comete un tipo diferente de error, al olvidar cerrar la cadena, se genera un error diferente, es decir, un `SyntaxError`.

In [ ]:
# Se imprime otro mensaje de error

print("Hola, Python!)

## ¿Python sabe acerca de su error antes de ejecutar su código?

Python es lo que se llama un *lenguaje interpretado*. Los lenguajes compilados examinan todo su programa en el momento de la compilación y pueden advertirle sobre toda una clase de errores antes de la ejecución. Por el contrario, Python interpreta su código línea por línea a medida que lo ejecuta. Python dejará de ejecutar todo el resto del código cuando encuentre un error (a menos que el programador espere y maneje el error, un tema más avanzado que se podrá ver más adelante).

Ejecutar el código en la celda de a continuación y ver qué sucede.

In [ ]:
# Imprime una serie de cadenas para ver el orden de ejecución y error

print("Esta línea se imprime")
frint("Esta linea causa un error")
print("Esta línea NO será impresa")

# 2. Tipos de Datos (Objetos) <a id="2"></a>

Python es un lenguaje orientado a objetos. Hay muchos tipos diferentes de objetos en Python. Los tipos de objetos más comunes son: *cadenas de caracteres o strings*, *números enteros* y *números reales o flotantes*. Cada vez que escribe alguna palabra o texto en Python se está utilizando *cadenas de caracteres*. Los números más comunes, por otro lado, son los números *enteros* (por ejemplo, -1, 0, 100) y los *flotantes*, que representan números reales (por ejemplo, 3,14, -42,0).

Las siguientes celdas de código contienen algunos ejemplos.

In [ ]:
# Entero

11

In [ ]:
# Flotante

2.14

In [ ]:
# Cadena de caracteres

"Hola Mundo con Python!"

Se puede hacer que Python indique el tipo de una expresión o variable usando la función integrada `type()`. Nótese que Python se refiere a los números enteros como `int`, a los flotantes como `float` y a las cadenas de caracteres como `str`.

In [ ]:
# Tipo de 12

type(12)

In [ ]:
# Tipo de 2.14

type(2.14)

In [ ]:
# Tipo de "Hola Mundo con Python!"

type("Hola Mundo con Python!")

## Enteros

Se presentan algunos ejemplos de números enteros. Los números enteros pueden ser números negativos o positivos.

|1|2|3|4|5|6|7|8|9|
|---|---|---|---|---|---|---|---|---|
|-4|-3|-2|-1|0|1|2|3|4|

Se puede verificar el tipo de un objeto usando la función `type()`.

In [ ]:
# Imprime el tipo de -1

type(-1)

In [ ]:
# Imprime el tipo de 4

type(4)

In [ ]:
# Imprime el tipo de 0

type(0)

## Flotantes

Los tipos flotantes representan números reales; son un superconjunto de números enteros que también incluyen *números con decimales*. Existen algunas limitaciones cuando se trata de representar números reales en una computadora, sin embargo, los números de punto flotante son una buena representación en la mayoría de los casos. Se puede obtener más información sobre las especificaciones de los elementos flotantes para el entorno de ejecución comprobando el valor de `sys.float_info`. Esto también dirá cuál es el número más grande y más pequeño que se puede representar con ellos.

A continuación se puede probar algunos ejemplos con la función `type()`.

In [ ]:
# Imprime el tipo de 1.0

type(1.0) # Notar que 1 es un entero, y 1.0 es un flotante

In [ ]:
# Imprime el tipo de 0.5

type(0.5)

In [ ]:
# Imprime el tipo de 0.56

type(0.56)

In [ ]:
# Configuración del sistema para los números del tipo flotante

sys.float_info

## Conversión de un tipo de objeto a un tipo de objeto diferente

En Python se puede cambiar el tipo del objeto, expresión o variable; esto se llama conversión de tipo (typecasting, en inglés). Por ejemplo, se puede convertir un número *entero* en uno *flotante* (por ejemplo, 2 a 2,0).

In [ ]:
# Verificar que 2 sea un número entero

type(2)

### Convertir enteros en flotantes

Convertir el entero 2 a flotante.

In [ ]:
# Convertir el entero 2 a un flotante

float(2)

In [ ]:
# Convertir el entero 2 en un flotante y verificar su tipo

type(float(2))

Cuando se convierte un número entero en un flotante, en realidad no se cambia el valor (es decir, la mantisa) del número. Sin embargo, si se convierte un flotante en un entero, potencialmente se podría perder algo de información. Por ejemplo, si se convierte el flotante 1.1 en entero, se obtiene 1 y se pierde la información decimal (es decir, 0.1).

In [ ]:
# La conversión de 1.1 a entero resulta en la pérdida de información

int(1.1)

### Conversión de cadenas de caracteres a enteros o flotantes

En algunas ocasiones se puede tener una cadena que contiene un número dentro de ella. Si este es el caso, se puede convertir esa cadena que representa un número en un entero usando `int()`

In [ ]:
# Convertir una cadena de caracteres a un entero

int('1')

Pero si intenta hacerlo con una cadena que no es una coincidencia perfecta para un número, se obtendrá un error.

In [ ]:
# Convertir una cadena de caracteres a un entero con error

int('1 or 2 people')

También se puede convertir cadenas de caracteres que contengan números con coma o punto flotante en objetos *flotantes*.

In [ ]:
# Convertir una cadena de caracteres a un flotante

float('1.2')

>---
>**Consejo**: Tenga en cuenta que las cadenas se pueden representar con comillas simples (`'1.2'`) o comillas dobles (`"1.2"`), pero no puede mezclar ambas (por ejemplo, `"1.2'`).
>
>---

### Convertir números en cadenas de caracteres

Si se puede convertir cadenas de caracteres en números, también es posible convertir números en cadenas de caracteres.

In [ ]:
# Convertir un entero a cadena de caracteres

str(1)

También se puede convertir un número flotante en una cadena de caracteres.

In [ ]:
# Convertir un número flotante en una cadena de caracteres

str(1.2)

## Tipo de datos booleano

*Boolean* es otro tipo de datos importante en Python. Un objeto de tipo *Booleano* puede tomar uno de dos valores: `Verdadero` o `Falso`.

In [ ]:
# Valor verdadero

True

Notar que el valor `True` tiene una **T** mayúscula. Lo mismo es cierto para `False` (es decir, se debe usar la **F** mayúscula).

In [ ]:
# Valor falso
False

Cuando se pide a Python que muestre el tipo de un objeto booleano, mostrará `bool`, que significa *booleano*.

In [ ]:
# Tipo de True

type(True)

In [ ]:
# Tipo de False

type(False)

Se puede convertir objetos booleanos a otros tipos de datos. Si se convierte un valor booleano con un valor de 'Verdadero' en un número entero o flotante, se obtiene un uno. Si se convierte un valor booleano con un valor de `False` en un número entero o flotante, se obtiene un cero. De manera similar, si se convierte un 1 a un valor booleano, se obtiene un 'Verdadero'. Y si se convierte un 0 a un valor booleano, se obtiene un `Falso`.

In [ ]:
# Convertir True a entero

int(True)

In [ ]:
# Convertir 1 a booleano

bool(1)

In [ ]:
# Convertir 0 a booleano

bool(0)

In [ ]:
# Convertir True a flotante

float(True)

---

**$\bigstar$ Pregunta:** 

¿Cuál es el tipo de datos del resultado de `6/2`?

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

type(6/2) # float

-->

---

**$\bigstar$ Pregunta:** 

¿Cuál es el tipo de datos del resultado de `6//2`? (Observe la doble barra inclinada `//`.)

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

type(6//2) # int, ya que las barras dobles representan la división entera 

-->

<hr>

# 3. Expresiones y Variables <a id="4"></a>

## Expresiones

Las expresiones en Python pueden incluir operaciones entre tipos compatibles (por ejemplo, enteros y flotantes). Un caso particular puede ser realizar operaciones aritméticas básicas como sumar varios números.

In [ ]:
# Expresión de operación de suma

43 + 60 + 16 + 41

Se puede realizar operaciones de resta usando el operador menos. En este caso el resultado es un número negativo.

In [ ]:
# Expresión de operación de resta

50 - 60

Se puede hacer la multiplicación usando un asterisco.

In [ ]:
# Expresión de la operación de multiplicación

5 * 5

También se puede realizar la división con la barra inclinada.

In [ ]:
# Expresión de operación de división

25 / 5

In [ ]:
# Expresión de operación de división

25 / 6

Como se observó anteriormente, se puede usar la barra doble para la división de enteros, donde el resultado se redondea al entero más cercano.

In [ ]:
# Expresión de operación de división entera

25 // 5

In [ ]:
# Expresión de operación de división entera

25 //6

---

**$\bigstar$ Pregunta:** 

Escribir una expresión que calcule cuántas horas hay en 160 minutos.

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

160/60 
# ó
160//60

-->

---

Python sigue convenciones matemáticas bien aceptadas al evaluar expresiones matemáticas. En el siguiente ejemplo, Python suma 30 al resultado de la multiplicación (es decir, 120).

In [ ]:
# Expresión matemática

30 + 2 * 60

Al igual que las matemáticas, las expresiones entre paréntesis tienen prioridad. Entonces lo siguiente multiplica 32 por 60.

In [ ]:
# Expresión matemática

(30 + 2) * 60

## Variables

Al igual que con la mayoría de los lenguajes de programación, se puede almacenar valores en *variables*, para poder usarlos más adelante. Por ejemplo.

In [ ]:
# Almacenar valor en variable

x = 43 + 60 + 16 + 41

Para ver el valor de `x` en una celda de Jupiter Notebook, simplemente la variable se puede colocar en la última línea de una celda.

In [ ]:
# Imprime el valor en la variable

x

También se puede realizar operaciones con `x` y guardar el resultado en una nueva variable.

In [ ]:
# Usar otra variable para almacenar el resultado de la operación entre variable y valor

y = x / 60
y

Si se guarda un valor en una variable existente, el nuevo valor sobrescribirá el valor anterior.

In [ ]:
# Sobrescribe variable con nuevo valor

x = x / 60
x

Es una buena práctica usar nombres de variables significativos, para que uno y otras personas puedan leer el código y comprenderlo más fácilmente.

In [ ]:
# Nombre las variables significativo

total_min = 43 + 42 + 57 # Duración total en minutos
total_min

In [ ]:
# Nombre las variables significativo

total_horas = total_min / 60 # Duración total en horas
total_horas

En las celdas de arriba, se agregó la duración de tres elementos en minutos y se almacenó en `total_min`. Luego se dividió por 60 para calcular la longitud total `total_horas` en horas. También se puede hacer todo a la vez en una sola expresión, siempre que se use paréntesis para sumar los tiempo antes de dividir, como se muestra a continuación.

In [ ]:
# Expresión compleja

total_horas = (43 + 42 + 57) / 60  # Horas totales en una sola expresión
total_horas

Si se quiere tener el total de horas como un número entero, se puede reemplazar la división de punto flotante con una división de números enteros (es decir, `//`).

---

**$\bigstar$ Pregunta:** 

¿Cuál es el valor de `x` donde `x = 3 + 2 * 2`?

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

7

-->

---

**$\bigstar$ Pregunta:** 

¿Cuál es el valor de `y` donde `y = (3 + 2) * 2`?

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

10

-->

---

**$\bigstar$ Pregunta:** 

¿Cuál es el valor de `z` donde `z = x + y`?

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

17

-->

---

# 4. Cadena de Caracteres (Strings) <a id="6"></a>

El siguiente ejemplo muestra una cadena contenida entre 2 comillas.

In [ ]:
# Usar comillas para definir la cadena

"Freddie Mercury"

También se puede usar comillas simples.

In [ ]:
# Usar comillas simples para definir la cadena

'Freddie Mercury'

Una cadena de carac teres puede ser una combinación de espacios y dígitos.

In [ ]:
# Dígitos y espacios en cadena

'1 2 3 4 5 6 '

Una cadena de caracteres también puede ser una combinación de caracteres especiales.

In [ ]:
# Caracteres especiales en una cadena de caracteres

'@#2_#]&*^%$'

Se puede imprimir una cadena de caracteres usando el comando de impresión `print()`.

In [ ]:
# Imprime una cadena de caracteres

print("Hola Mundo!")

se puede vincular o asignar una cadena de caracteres a otra variable.

In [ ]:
# Asignar cadena de caracteres a una variable

Nombre = "Freddie Mercury"
Nombre

# 5. Indexación <a id="8"></a>

Es útil pensar en una cadena de caracteres como una secuencia ordenada. Se puede acceder a cada elemento de la secuencia mediante un índice representado por el arreglo de números.

```Python
Nombre = "Freddie Mercury"
```

|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
|F|r|e|d|d|i|e| |M|e|r|c|u|r|y|

Se puede acceder al primer índice de la siguiente manera.

>---
>**Consejo**: Debido a que la indexación comienza en 0, esto significa que el primer índice está en el índice 0.
>
>---

In [ ]:
# Imprime el primer elemento de la cadena de caracteres
# .
print(Nombre[0])

Se puede acceder al índice 6 y al indice 13.

In [ ]:
# Imprime el elemento en el índice 6 y 13 en la cadena de caracteres

print(Nombre[6])
print(Nombre[13])

## Indexación negativa

También se puede usar la indexación negativa con cadenas de caracteres.


```Python
Nombre = "Freddie Mercury"
```

|-15|-14|-13|-12|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
|F|r|e|d|d|i|e| |M|e|r|c|u|r|y|

El índice negativo puede ayudar a contar el elemento desde el final de la cadena.Así, el último elemento viene dado por el índice -1.

In [ ]:
# Imprime el último elemento de la cadena de caracteres

print(Nombre[-1])

El primer elemento se puede obtener por el índice -15.

In [ ]:
# Imprime el primer elemento de la cadena de caracteres
print(Nombre[-15])

Se puede encontrar el número de caracteres en una cadena usando el método `len()`, abreviatura de longitud o largo en inglés.

In [ ]:
# Encuentra la longitud de la cadena de caracteres

len("Freddie Mercury")

## Rebanar (Slicing)

Se puede obtener varios caracteres de una cadena utilizando el operador de rebanado o corte, por ejemplo, se puede obtener los elementos del 0 al 4 y del 8 al 12.

```Python
Nombre = "Freddie Mercury"
```

|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
|F|r|e|d|d|i|e| |M|e|r|c|u|r|y|


```Python
Nombre[0:4] => Fred
Nombre[8:12] => Merc
```
 
>---
>**Consejo**: Al realizar el rebanado, el primer número significa el índice donde comienza el rebanado, y el segundo número significa el índice posterior al elemento que se desea (índice final = segundo número - 1).
>
>---

In [ ]:
# Recupera la rebanada de la variable Nombre entre el índice 0 al índice 3

Nombre[0:4]

In [ ]:
# Recupera la rebanada de la variable Nombre entre el índice 8 al índice 11

Nombre[8:12]

## Zancada o Tranco (Stride)

También Se puede ingresar un valor de zancada de la siguiente manera, con el `2` se indica que se está seleccionando cada dos variables.

```Python
Nombre = "Freddie Mercury"
```

|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
|`F`|r|`e`|d|`d`|i|`e`| |`M`|e|`r`|c|`u`|r|`y`|


```Python
Nombre[::2] => FedeMruy
```

In [ ]:
# Recupera cada dos elementos. Los elementos en el índice 0, 2, 4 ...

Nombre[::2]

También se puede integrar el operador de rebanar con el de zancada. En este caso, se seleccionan los primeros cinco elementos y luego se define una zancada cada dos elementos.

In [ ]:
# Recupera cada dos elementos en el rengo de los índices 0 a 4.

Nombre[0:5:2]

## Concatenar cadenas de caracteres

Se puede concatenar o combinar cadenas usando los símbolos de suma, y el resultado es una nueva cadena que es una combinación de ambas.

In [ ]:
# Concatena dos cadenas de caracteres

Sentencia = Nombre + " es el mejor"
Sentencia

Para replicar valores de una cadena simplemente se multiplica la cadena por el número de veces que nos gustaría replicarla. En este caso, el número es tres. El resultado es una nueva cadena, y esta nueva cadena consta de tres copias de la cadena original.

In [ ]:
# Imprime la cadena 3 veces

3 * "Freddie Mercury"

Se puede crear una nueva cadena agregandole elementos en la variable original, es decir, se concatena con una nueva cadena.

In [ ]:
# Concatenar cadenas

Nombre = "Freddie Mercury"
Nombre = Nombre + " es el mejor"
Nombre

# 6. Secuencias de Escape <a id="10"></a>

Las barras invertidas representan el comienzo de las secuencias de escape. Las secuencias de escape representan cadenas que pueden ser difíciles de ingresar. Por ejemplo, la barra invertida con una *n* (`\n`) representa una nueva línea. La salida viene dada por una nueva línea después de encontrar la barra invertida *n*.

In [ ]:
# Secuencia de escape de una nueva línea

print(" Freddie Mercury \n es el mejor")

Del mismo modo, la barra invertida con una *t* representa un tabulador.

In [ ]:
# Secuencia de escape para un tabulador

print(" Freddie Mercury \t es el mejor")

Si se desea colocar una barra diagonal inversa en su cadena, se debe usar una barra diagonal inversa doble.

In [ ]:
# Secuencia de escape para incluir una barra inversa

print(" Freddie Mercury \\ es el mejor")

También se puede colocar una *r* antes de la cadena para mostrar la barra invertida.

In [ ]:
# r le dirá a python que la cadena se mostrará como una cadena sin procesar

print(r" Freddie Mercury \ es el mejor")

# 7. Operaciones Sobre Cadenas <a id="12"></a>

Hay muchos métodos de operación de cadenas en Python que se pueden usar para manipular los datos. A continuación se van a usar algunas operaciones básicas de cadenas en los datos.

Se probará con el método `.upper()`; este método convierte caracteres de minúsculas a caracteres en mayúsculas.

In [ ]:
# Convierte todos los caracteres a mayúsculas

A = "News of the World es el sexto álbum de estudio de Queen"
print("Antes   de upper:", A)
B = A.upper()
print("Después de upper:", B)

El método `.replace()` reemplaza un segmento de la cadena, es decir, una subcadena con una nueva cadena. En el primer argumento se ingresa el segmento de la cadena que se quiere cambiar. El segundo argumento es con lo que se quiere intercambiar el segmento, y el resultado es una nueva cadena con el segmento cambiado.

In [ ]:
# Reemplaza la subcadena anterior con la nueva subcadena de destino 
# si el segmento es encontrado en la cadena

B = A.replace('News of the World', 'Noticias del Mundo')
B

El método `.find()` encuentra una subcadena. El argumento es la subcadena que le gustaría encontrar y la salida es el primer índice de la secuencia. Por ejemplo se puede buscar la subcadena `Mer`.

```Python
Nombre = "Freddie Mercury"
```

|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
|F|r|e|d|d|i|e| |`M`|`e`|`r`|c|u|r|y|

In [ ]:
# Encontrar la subcadena en la cadena. 
# La salida será solo el índice del primer elemento de la subcadena en la cadena

Nombre = "Freddie Mercury"
Nombre.find('Mer')

In [ ]:
# Encontrar la subcadena en la cadena.

Nombre.find('ddie')

Si la subcadena no está en la cadena, la salida es negativa. Por ejemplo, la cadena 'Jasdfasdasdf' no es una subcadena.

In [ ]:
# Si no puede encontrar la subcadena en la cadena

Nombre.find('Jasdfasdasdf')

---

**$\bigstar$ Pregunta:** 

¿Cuál es el valor de la variable `A` después de ejecutar el siguiente código?

```Python
A = "1"
A

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

'1'

-->

---

**$\bigstar$ Pregunta:** 

¿Cuál es el valor de la variable `B` después de ejecutar el siguiente código?

```Python
B = "2"
B

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

'2'

-->

---

**$\bigstar$ Pregunta:** 

¿Cuál es el valor de la variable `C` después de ejecutar el siguiente código?

```Python
C = A + B
C

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

'12'

-->

---

**$\bigstar$ Pregunta:** 

Considere la variable 'D', use el rebanado para imprimir los primeros tres elementos.

```Python
D = "ABCDEFG"

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

D = "ABCDEFG"
print(D[:3]) 
# o 
print(D[0:3])

-->

---

**$\bigstar$ Pregunta:** 

Utilice un valor de zancada de 2 para imprimir cada segundo carácter de la cadena `E`.

```Python
E = 'clocrkr1e1c1t'

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

E = 'clocrkr1e1c1t'
print(E[::2])

-->

---

**$\bigstar$ Pregunta:** 

Convierta la variable `F` a minúsculas.

```Python
F = "Tu Estas EQUIVOCADO"

In [ ]:
### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

F = "Tu Estas EQUIVOCADO"
F.lower()

-->

---

**$\bigstar$ Pregunta:** 

En la variable `G`, encuentre el primer índice donde aparece la subcadena `corderito`.

In [ ]:
G = "María tenía un corderito. Su velo era blanco como la nieve. \
Y dondequiera que María iba el corderito estaba seguro de ir ..."

### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

G.find('corderito')

-->

---

**$\bigstar$ Pregunta:** 

En la variable `G` reemplace la subcadena `María` con `José`.

In [ ]:
G = "María tenía un corderito. Su velo era blanco como la nieve. \
Y dondequiera que María iba el corderito estaba seguro de ir ..."

### Escriba su código a continuación y presione Shift+Enter para ejecutarlo

Doble click **aquí** para ver la solución

<!--

#La respuesta correcta es:  

G.replace('María','José')

-->

---